/******************************************************************

shake : XXXX
TODO: コメント挿入

******************************************************************/

@mixin shake() {
    display: inline-block;
    animation: shake 3s infinite;
}

@keyframes shake {
    // @for $i from 0 through 100 {
    //     @if ($i % 5) == 0 {
    //         @if ($i % 10) !=0 {
    //             #{$i}\% {
    //                 transform: rotate(-10deg);
    //             }
    //         }
    //         @else {
    //             #{$i}\% {
    //                 transform: rotate(10deg);
    //             }
    //         }
    //     }
    // }
    0% {
        transform: rotate(-10deg);
    }
    5% {
        transform: rotate(10deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    15% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    35% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    45% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    55% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    65% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    85% {
        transform: rotate(10deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    95% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}